@use '../../base/vars'as *;

header{
    width: 100%;
    position: relative;
    background-color: $base-color;
}
// pc版
.header_wrap{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: rem(20) rem(45);
    box-shadow: 0 10px  10px -10px rgba(33,35,38,0.1);
    background-color: $base-color;
    transition: opacity 0.3s;
    z-index: 10000;

    @include media_query($sm){
        display: none;
    }
    .header_tel{
        display: block;
        width: 100%;
        max-width: 246px;
        margin-left: auto;
        position: relative;

        img{
            transition: opacity 0.3s;
            &:first-of-type{
                &:hover{
                    opacity: 0;
                }
            }
            &:last-of-type{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    ul{
        display: flex;
        gap: rem(36);

        @include media_query($lg){
            gap: rem(19);
        }

        a{
            position: relative;

            .nav_hover{
                position: absolute;
                width: rem(31);
                top: 0;
                right: -15px;
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover{
                .nav_hover{
                    opacity: 1;
                }
            }
        }
        .nav_ja,
        .nav_en{
            display: block;
        }
        .nav_ja{
            line-height: rem(19);

            @include media_query($lg){
                font-size: rem(12);
            }
        }
        .nav_en{
            text-transform: uppercase;
            font-size: rem(12);
            text-align: center;
            line-height: rem(18);
            color: $text-color2;
            font-family: $font-poppin;

            @include media_query($lg){
                font-size: rem(10);
            }
        }
    }
}

// sp版
.header_wrap_sp{
    display: none;

    @include media_query($sm){
        display: block;
        position: absolute;
        width: 100%;
    }
    .nav_logo{
        display: block;
        position: fixed;
        top: rem(20);
        left: 5%;
        z-index: 5000;
    }
}
.hamburger{
    position: fixed;
    background-color: $base-color;
    width: rem(90);
    height: rem(58);
    top: 0;
    right: 0;
    box-shadow: 0px 10px  10px -10px rgba(33,35,38,0.1);
    border-bottom-left-radius: rem(30);
    z-index: 501;

    span{
        position: absolute;
        width: 35px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $text-color1;
        transition: 0.3s;

        &:first-of-type{
            top: 35%;
        }
        &:nth-of-type(2){
            top: 55%;
        }
    }
    &.is_expanded{
        span{
            &:first-of-type{
                transform: rotate(25deg);
                left: 30%;
                top: 50%;
            }
            &:nth-of-type(2){
                transform: rotate(-25deg);
                left: 30%;
                top: 50%;
            }
        }
    }
}
.nav_sp{
    background-color: $main-color1;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 500;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow-y: scroll;

    &.is_open{
        opacity: 1;
    }

    &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 80%;
        height: rem(255);
        background: $main-color1-down;
        border-top-right-radius: rem(125);
    }
}
.nav_wrap{
    padding: rem(106) rem(20) 0;
    position: relative;
    z-index: 10;

    ul{
        text-align: center;

        li{
            margin-bottom: rem(29);
        }
    }
}
.nav_ja,
.nav_en{
    display: block;
}
.nav_ja{
    font-size: rem(17);
    font-weight: bold;
    line-height: 1.2;
}
.nav_en{
    font-size: rem(13);
    color: $text-color3;
    text-transform: uppercase;
}
.nav_insta{
    display: block;
    width: 30%;
    margin: 0 auto;
    min-width: 122px;
}
.contact_group{
    margin-top: rem(51);
}
.nav_tel{
    display: block;
    width: 70%;
    margin: 0 auto;
    min-width: rem(243);
}
.form{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: rem(24);
    background-color: $base-color;
    border: 2px solid $text-color1;
    width: 85%;
    border-radius: rem(11);
    padding: rem(15) rem(15) rem(20);
    .icon{
        max-width: rem(58);
        display: block;
        margin: 0 auto;
    }
    p{
        font-weight: bold;
    }
    .arrow{
        max-width: rem(16);
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
}