@use '../base/vars' as *;

// header用のスタイルになります
// 色はカラーコードで一旦指定しているので、それぞれvars.scssで設定している変数値に変えてもらってもいいです。
// sp切り替え値はデザインに合わせて"360px"にしていますが、各々現在切り替えている値に変更してもらってもいいです。

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $main-color;
  border-bottom: 1px solid #f0f0f0;

  .header_area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;

    @include media_query(360) {
      height: 40px;
    }
  }

  .home_button {
    position: absolute;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 38px;
    transition: opacity .3s ease-out;

    @include media_query(360) {
      width: 16px;
      margin-left: 10px;
    }

    &:hover {
      opacity: .6;
    }
  }

  .header_logo {
    position: relative;
    width: 116px;
  }
}