@use "sass:math";

///*------------------------------------*//
//    Fonts
//*------------------------------------*//
$font-family: "Noto Sans JP", sans-serif, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
$line-height: 1.5;




///*------------------------------------*//
//    Colors
//*------------------------------------*//
$main-color: #000000;
$accent-color: #f00;
$font-color: #000000;
$base-color: #fff;
$bg-color: #fff;
$fukidashi2: #4B4A52;
$fukidashi3: #23324E;
$rec-bg:#57575F;




///*------------------------------------*//
//     Mixin
//*------------------------------------*//

//メディアクエリ挿入
@mixin media_query($width:640) {
    @media screen and (max-width: $width+px) {
        @content;
    }
}

//フォントサイズ計算
@mixin rem($size, $base: 16) {
    font-size: math.div($size, $base) + rem;
}