@use "sass:math";

///*------------------------------------*//
//    Fonts
//*------------------------------------*//
$font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
$line-height: 2;




///*------------------------------------*//
//    Colors
//*------------------------------------*//
$main-color: #fff;
$accent-color: #23324E;
$font-color: #000;
$base-color: #4B4A52;
$bg-color: #000;




///*------------------------------------*//
//     Mixin
//*------------------------------------*//

//メディアクエリ挿入
@mixin media_query($width: 640) {
    @media screen and (max-width: $width+px) {
        @content;
    }
}

//フォントサイズ計算
@mixin rem($size, $base: 16) {
    font-size: math.div($size, $base) + rem;
}